-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: syndic_connect
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `annonce`
--

DROP TABLE IF EXISTS `annonce`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `annonce` (
  `id` int NOT NULL AUTO_INCREMENT,
  `contenu` text,
  `date_publication` datetime(6) DEFAULT NULL,
  `titre` varchar(255) DEFAULT NULL,
  `auteur_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKrujdxug4pyxv4xu37so6639tb` (`auteur_id`),
  CONSTRAINT `FKrujdxug4pyxv4xu37so6639tb` FOREIGN KEY (`auteur_id`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `annonce`
--

LOCK TABLES `annonce` WRITE;
/*!40000 ALTER TABLE `annonce` DISABLE KEYS */;
INSERT INTO `annonce` VALUES (1,'La r├⌐union aura lieu samedi ├á 13h.','2026-01-09 09:26:31.885079','R├⌐union de copropri├⌐t├⌐',NULL),(2,'R├⌐union samedi 5h','2026-01-09 09:16:43.506805','R├⌐union Copropri├⌐t├⌐',NULL),(3,'R├⌐union samedi','2026-01-08 13:07:34.320537','R├⌐union',2),(4,'Samedi 10h','2026-01-08 13:07:34.448296','R├⌐union Copropri├⌐t├⌐',2),(8,'reunion maintenant','2026-01-09 14:28:56.413327','Annonce 45',NULL);
/*!40000 ALTER TABLE `annonce` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commentaire`
--

DROP TABLE IF EXISTS `commentaire`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commentaire` (
  `id` int NOT NULL AUTO_INCREMENT,
  `contenu` text,
  `date` datetime(6) DEFAULT NULL,
  `auteur_id` int DEFAULT NULL,
  `probleme_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKa5cpbkhi8kij3kcs921daaktp` (`auteur_id`),
  KEY `FK5qwyg57plhf1j1g5my2coa20p` (`probleme_id`),
  CONSTRAINT `FK5qwyg57plhf1j1g5my2coa20p` FOREIGN KEY (`probleme_id`) REFERENCES `probleme` (`id`),
  CONSTRAINT `FKa5cpbkhi8kij3kcs921daaktp` FOREIGN KEY (`auteur_id`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commentaire`
--

LOCK TABLES `commentaire` WRITE;
/*!40000 ALTER TABLE `commentaire` DISABLE KEYS */;
/*!40000 ALTER TABLE `commentaire` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cotisation`
--

DROP TABLE IF EXISTS `cotisation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cotisation` (
  `id` int NOT NULL AUTO_INCREMENT,
  `mois` varchar(255) DEFAULT NULL,
  `montant` double DEFAULT NULL,
  `statut` varchar(255) DEFAULT NULL,
  `resident_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKofvma2r6d84nva5nwpiua4hg2` (`resident_id`),
  CONSTRAINT `FKofvma2r6d84nva5nwpiua4hg2` FOREIGN KEY (`resident_id`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cotisation`
--

LOCK TABLES `cotisation` WRITE;
/*!40000 ALTER TABLE `cotisation` DISABLE KEYS */;
INSERT INTO `cotisation` VALUES (1,'Janvier 2026',200,'PAYE',1),(2,'fevri├⌐ 2026',200,'NON_PAYE',1),(3,'Janvier 2026',200,'PAYE',3),(4,'Janvier 2026',200,'NON_PAYE',4),(5,'Janvier 2026',200,'NON_PAYE',5);
/*!40000 ALTER TABLE `cotisation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `probleme`
--

DROP TABLE IF EXISTS `probleme`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `probleme` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date_creation` datetime(6) DEFAULT NULL,
  `description` text,
  `statut` varchar(255) DEFAULT NULL,
  `titre` varchar(255) DEFAULT NULL,
  `auteur_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKgc0swp8aw1nosauvngoe9vec0` (`auteur_id`),
  CONSTRAINT `FKgc0swp8aw1nosauvngoe9vec0` FOREIGN KEY (`auteur_id`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `probleme`
--

LOCK TABLES `probleme` WRITE;
/*!40000 ALTER TABLE `probleme` DISABLE KEYS */;
/*!40000 ALTER TABLE `probleme` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateur`
--

DROP TABLE IF EXISTS `utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateur` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `mot_de_passe` varchar(255) DEFAULT NULL,
  `nom` varchar(255) DEFAULT NULL,
  `numero_appartement` varchar(255) DEFAULT NULL,
  `role` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKrma38wvnqfaf66vvmi57c71lo` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateur`
--

LOCK TABLES `utilisateur` WRITE;
/*!40000 ALTER TABLE `utilisateur` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateur` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-09 18:16:44
