/* variables.css */

:root {
    /* Couleurs principales */
    --blue-primary: #2563EB;
    --gray-dark: #1E293B;
    --gray-light: #F8FAFC;
    --white: #FFFFFF;


    /* États */
    --green-success: #10B981;
    --red-alert: #EF4444;
    --orange-warning: #F59E0B;
    --text-dark: #1E293B;
    --text-muted: #64748B;

    /* UI */
    --border-radius: 10px;
    --shadow-soft: 0 4px 10px rgba(0,0,0,0.05);

    --bg-light: #F8FAFC;
    --bg-white: #FFFFFF;
}